<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Builder</title>
    <style>
        .sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.main {
  margin-right: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
position: fixed;
left: 160px;
}

.white {
    color: white
}
    </style>
</head>
<body>
    <div class="container">
            <table class="main">
                {% for i in grid %}
                    <tr>
                    {%for j in i%}
                        {%if j != None and j != "" and j != " "%}
                        <td><img src="/static/{{rem_num(j.split('-')[0])}}/{{j}}.png" width="32" height="32"></td>
                        {%endif%}
                    {%endfor%}
                    </tr>
                {%endfor%}
            </table>
        <div class="sidebar">
            <h1 class="white">${{round(money,2)}}</h1>
            {% for i in resources %}
                <img src="/static/production/{{i[0]}}.png"><span class="white">&times; {{i[1]}}</span><br>
            {% endfor %}
            <br>
            <h2 class="white">Tax per minute: {{tpm}}</h2>
            <h3><a href="/collect">collect tax</a></h3>
        </div>

    </div>
</body>
</html>